<div class="header">
    <img src="/images/logo.svg" alt="Movie Tracker Logo">
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/movie">Movie Details</a>
            </li>
            <li class="guest-only">
                <a href="/account">Login</a>
            </li>
            <li class="authed-only" hidden>
                <a href="/account">My Watch List</a>
            </li>
            <li class="authed-only" hidden>
                <button id="nav-logout" class="nav-linklike">Logout</button>
            </li>
        </ul>
    </nav>
</div>